@import "./mixin.scss";

.brand-section {
  @include heading();

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .outer-div {
      display: flex;
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 20px;
      align-items: center;

      @media screen and (max-width: 991px) {
        justify-content: center;
        padding: 15px;
      }

      @media screen and (max-width: 480px) {
        padding: 10px;
      }

      &-img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 20px;
      }

      .inner-div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
