.nav1 {
  display: flex;
  background-color: #003d29;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  color: white;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .nav1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}

.nav2 {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .nav2 {
    padding-left: 0px;
  }
}
.nav2__lists {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}
.nav2__lists :hover {
  color: rgb(93, 92, 92);
}
@media screen and (max-width: 991px) {
  .nav2__lists {
    display: none;
  }
}
.nav2__div {
  position: relative;
}
@media screen and (max-width: 991px) {
  .nav2__div {
    display: none;
  }
}
.nav2__div__input {
  width: 250px;
  height: 40px;
  box-shadow: none;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid grey;
}
.nav2__div__icon {
  position: absolute;
  right: 25px;
  top: 12px;
}
@media screen and (max-width: 480px) {
  .nav2__account, .nav2__cart {
    display: none;
  }
}
.nav2__ham {
  display: none;
}
@media screen and (max-width: 991px) {
  .nav2__ham {
    display: block;
    right: 5px;
  }
}

.banner__container {
  width: 100%;
  height: 100%;
  position: relative;
  color: #003d29;
}
.banner__container__img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .banner__container__img {
    width: 100%;
  }
}
.banner__container__head1 {
  padding-left: 50px;
  position: absolute;
  top: 20%;
  font-size: 2.5rem;
  font: bolder;
}
@media screen and (max-width: 573px) {
  .banner__container__head1 {
    font-size: 1rem;
  }
}
.banner__container__head2 {
  padding-left: 50px;
  position: absolute;
  top: 30%;
  font-size: 2.5rem;
}
@media screen and (max-width: 573px) {
  .banner__container__head2 {
    font-size: 1rem;
  }
}
.banner__container__para {
  padding-left: 50px;
  width: 500px;
  position: absolute;
  top: 43%;
  font-size: large;
}
@media screen and (max-width: 573px) {
  .banner__container__para {
    width: auto;
  }
}
.banner__container__btn {
  position: absolute;
  left: 50px;
  top: 53%;
  color: white;
  background-color: #003d29;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: 1px solid #003d29;
  cursor: pointer;
  font-size: large;
}
.banner__container__btn :hover {
  background-color: black;
}

.categories-section {
  margin-top: 70px;
  padding: 50px;
}

.categories {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.category-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.category-item img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.category-item span {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.category-item:hover img {
  transform: scale(1.1);
}

.deals-section {
  margin: 40px;
  position: relative;
}
.deals-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.deals-section .deals {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #003d29 white;
}
.deals-section .deals ::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
.deals-section .deals ::-webkit-scrollbar-thumb {
  background-color: #003d29;
  border-radius: 50px;
  height: 4px;
}
.deals-section .deal-item {
  padding: 20px;
  text-align: left;
  position: relative;
}
.deals-section .deal-item .img-container {
  position: relative;
  border-radius: 12px;
  background: rgb(246, 244, 244);
  min-width: 350px;
}
.deals-section .deal-item .img-container img {
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease;
}
.deals-section .deal-item .img-container .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.deals-section .deal-item .img-container:hover img {
  transform: scale(1.1);
}
.deals-section .deal-item h3 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 15px 0 5px;
}
.deals-section .deal-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}
.deals-section .deal-item .price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deals-section .deal-item .price-rating .price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.deals-section .deal-item .price-rating .rating {
  font-size: 14px;
  color: #666;
}
.deals-section .deal-item .price-rating .rating .heart-icon {
  color: green;
}
.deals-section .deal-item .add-to-cart {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  color: black;
  border: 1 px solid black;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
.deals-section .deal-item .add-to-cart:hover {
  background: rgb(93, 92, 92);
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #333;
  position: fixed;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.1s ease;
}
.cursor::after {
  content: "Drag";
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}/*# sourceMappingURL=stylle.css.map */