@import "./scss/navBar.scss";
@import "./scss/banner.scss";
@import "./scss/categories1.scss";
@import "./scss/deals.scss";
@import "./scss/brand.scss";
@import "./scss/container.scss";
@import "./scss/discount-banner.scss";
@import "./scss/cashback.scss";
@import "./scss/footer.scss";
@import "./scss/trending.scss";
@import "./scss/selling.scss";
@import "./scss/services.scss";
@import "./scss/deals2.scss";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}